<div class="dashboard-container">
  <aside class="sidebar">
    <h2>EMS</h2>

    @if (isAdmin) {
      <nav>
        <a href="/dashboard" routerLinkActive="active">Home</a>
        <a href="/employee-form?isEditMode=false">Add Employee</a>
        <a routerLink="/manage-admins" routerLinkActive="active">Manage Admins</a>
        <a href="/employee-form" routerLinkActive="active">Update Details</a>
        <a routerLink="/view-details" routerLinkActive="active">View Details</a>
        <a routerLink="/reset-credentials" routerLinkActive="active">Reset Password</a>
      </nav>
    } @else {
      <nav>
        <a routerLink="/view-details" routerLinkActive="active">View Details</a>
        <a routerLink="/employee-form" routerLinkActive="active">Update Details</a>
        <a routerLink="/reset-credentials" routerLinkActive="active">Reset Password</a>
      </nav>
    }
  </aside>

  <main class="main-content">
    <header class="topbar">
      <h3>{{ pageTitle }}</h3>
      <p-button label="Logout" icon="pi pi-sign-out" severity="secondary" size="small" (onClick)="logout()"></p-button>
    </header>

    <section class="page-content">
      <ng-content></ng-content>
    </section>
  </main>
</div>
