<aside class="sidebar">
  <h2>EMS</h2>
  <nav>
    <a href="/dashboard" routerLinkActive="active">Home</a>
    <a href="/employee-form?isEditMode=false" routerLinkActive="active">Add Employee</a>
    <a routerLink="/settings" routerLinkActive="active">View Employee</a>
    <a routerLink="/settings" routerLinkActive="active">List Admins</a>
    <a routerLink="/settings" routerLinkActive="active">Add Admin</a>
    <a href="/employee-form" routerLinkActive="active">View Admin</a>
  </nav>
</aside>
