<app-navbar  [pageTitle]="'Admin Management'">
  <div class="container mt-4">

    @if (loading) {
      <p-message severity="info" text="Loading employees..."/>
    }
    @else if (errorMessage) {
      <p-message severity="error" [text]="errorMessage"/>
    }
    @else if (!errorMessage && employees.length === 0) {
      <p-message severity="warn" text="No employees found."/>
    } @else {
      <section class="employee-table-section">
        <p-card >
          <p-table 
            #dt
            [value]="employees" 
            sortMode="multiple" 
            [responsiveLayout]="'scroll'"
            [globalFilterFields]="['user.id', 'user.username', 'first_name', 'last_name', 'position']">

            <ng-template pTemplate="caption">
              <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                  <p-inputicon>
                    <i class="pi pi-search"></i>
                  </p-inputicon>
                  <input 
                    pInputText 
                    type="text" 
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                    placeholder="Search keyword" 
                  />
                </p-iconfield>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="user.id">
                  <div class="flex items-center gap-2">
                    Employee ID
                    <p-sortIcon field="user.id"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="user.id">
                  <div class="flex items-center gap-2">
                    Username
                    <p-sortIcon field="user.id"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="first_name" >
                  <div class="flex items-center gap-2">
                    Name
                    <p-sortIcon field="first_name"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="position" >
                  <div class="flex items-center gap-2">
                    Position
                    <p-sortIcon field="position"></p-sortIcon>
                  </div>
                </th>
                <th >Remove Access</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-employee>
                <ng-container *ngIf="employee.user?.is_staff">
                <tr>
                    <td>{{ employee.user.id }}</td>
                    <td [innerHTML]="employee.user.username || '<span class=\'text-warning\'>Not available</span>'"></td>
                    <td [innerHTML]="employee.first_name?.trim() 
                        ? (employee.first_name + ' ' + (employee.last_name || '')) 
                        : '<span class=\'text-warning\'>Not available</span>'"></td>
                    <td [innerHTML]="employee.position || '<span class=\'text-warning\'>Not available</span>'"></td>
                    <td>
                        <p-button icon="pi pi-times" (onClick)="removeAdminAccess($event, employee)" size= "small" [rounded]="true" [text]="true" [raised]="true" severity="danger" />
                    </td>
                </tr>
                </ng-container>
            </ng-template>

          </p-table>
        </p-card>
      </section>
    }
  </div>
</app-navbar>
